# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.env
.venv
env/
venv/

# Temporary dataset and archives
temp_dataset/
*.zip

# Model files and output graphs
*.pth
*.pt
training_history_smooth.png

# IDE / Editor specific folders
.vscode/
.idea/